<div>
    <main>
        {{> title big=true data="Biography"}}
        <hr class="my-4"/>

        <h3 class="mb-5">{{name}}</h3>

        <div class="mb-4">
            <dl>
                <dt>
                    <strong>Born:</strong>
                </dt>
                <dd>
                    <span>
                        <time datetime="{{birthdate}}">{{birthdate}}</time>, {{birthplace}}
                    </span>
                </dd>
            </dl>
        </div>

        <div class="mb-4">
            <dl>
                <dt>
                    <strong>Dead:</strong>
                </dt>
                <dd>
                    <span>
                        <time datetime="{{deathdate}}">{{deathdate}}</time>, {{deathplace}}
                    </span>
                </dd>
            </dl>
        </div>

        <div class="mb-4">
            <dl>
                <dt>
                    <strong>Nationality:</strong>
                </dt>
                <dd>
                    <span>
                        {{nationality}}
                    </span>
                </dd>
            </dl>
        </div>

        <div class="mb-4">
            <dl>
                <dt>
                    <strong>Occupation:</strong>
                </dt>
                <dd>
                    <span>
                        {{occupation}}
                    </span>
                </dd>
            </dl>
        </div>

        <div class="mb-4">
            <strong>Known For:</strong>
            {{#each known_for}}
                <ul>
                    <li>
                        <div>
                            {{this}}
                        </div>
                    </li>
                </ul>
            {{/each}}
        </div>

        <div class="mb-4">
            {{#each education}}
                <dl>
                    <dt>
                        <strong>Education:</strong>
                    </dt>
                    <dd>
                        {{degree}},
                        {{field}},
                        {{institution}},
                        {{year}}
                    </dd>
                </dl>
            {{/each}}
        </div>

        <div class="mb-4">
            <b>Notable Publications</b>
            {{#each notable_publications}}
                <ul>
                    <li>
                        <div class="mb-4">
                            {{title}}
                            <br />

                            <b>Year:</b>
                            {{year}}
                            <br />

                            <b>Publisher</b>
                            {{publisher}}
                            <br />
                        </div>
                    </li>
                </ul>
            {{/each}}
        </div>

        <div class="mb-4">
            <strong>Partners:</strong>
            {{#each partners}}
                <ul>
                    <li>
                        <div class="mb-4">
                            <b>Name:</b>
                            {{name}}
                            <br />

                            <b>Relationship:</b>
                            {{relationship}}
                            <br />

                            <b>Years:</b>
                            {{years}}
                            <br />
                        </div>
                    </li>
                </ul>
            {{/each}}
        </div>

        <div class="mb-4">
            <strong>Awards:</strong>
            {{#each awards}}
                <ul>
                    <li>
                        <div class="mb-4">
                            {{title}}, {{year}}
                            <br />

                            <p>
                                {{description}}
                            </p>
                        </div>
                    </li>
                </ul>
            {{/each}}
        </div>

        <div class="mb-4">
            <strong>Influences:</strong>
            {{#each influences}}
                <ul>
                    <li>
                        <div>
                            {{this}}
                        </div>
                    </li>
                </ul>
            {{/each}}
        </div>

        <div class="mb-4">
            <strong>Influenced</strong>
            {{#each influenced}}
                <ul>
                    <li>
                        <div>
                            {{this}}
                        </div>
                    </li>
                </ul>
            {{/each}}
        </div>

        <div class="mb-4">
            <strong>Quotes:</strong>
            {{#each quotes}}
                <ul>
                    <li>
                        <div>
                            <q>{{this}}</q>
                        </div>
                    </li>
                </ul>
            {{/each}}
        </div>

        <div class="mb-4">
            <strong>Major Discoveries:</strong>
            {{#each major_discoveries}}
                <ul>
                    <li>
                        <div>
                            {{title}}, {{year}}
                            <br />

                            <p>
                                {{description}}
                            </p>
                        </div>
                    </li>
                </ul>
            {{/each}}
        </div>

        <div class="mb-4">
            <strong>Contributions:</strong>
            {{#with contributions}}
                {{title}}
                <br />

                <p>
                    {{description}}
                </p>
                <br />

                {{year}}
                <br />

                {{field}}
            {{/with}}
        </div>
    </main>
</div>