<div>
  <div>
    {{> title big=true data=name}}
    <hr class="my-4"/>
    
    <div class="mb-5">
        <p>{{description}}</p>

        <p>
            {{#with history}}
                {{year}},
                {{founder}}
            {{/with}}
        </p>
    </div>

        {{> listprimary data=types text='Types'}}

        {{> listprimary data=features text='Features'}}

        {{> listprimary data=libraries text='Libraries'}}

        {{> listprimary data=tools text='Tools'}}


    <div class="mb-3">
        {{#with syntax}}
            <span class="badge text-bg-primary fs-6">Syntax</span>
            <hr class="my-3"/>
            
            {{> listsecondary data=variables text='Variables'}}

            {{> listsecondary data=functions text='Functions'}}

            {{> listsecondary data=conditionals text='Conditionals'}}

            {{> listsecondary data=loops text='Loops'}}

            {{> listsecondary data=classes text='Classes'}}

        {{/with}}
    </div>

    <hr class="mb-5"/>

    <div>
        <ul>
            <li>
                <div>
                    <div class="mb-2">
                        <span class='badge text-bg-primary fs-6 w-25'>Community</span>
                    </div>
                    {{#each community}}
                        <div class="mb-2">
                            <ul class='list-group w-25 '>
                                <li class='list-group-item text-center'>
                                   {{type}}
                                </li>
                                <li class='list-group-item'>
                                    <button type="button" class="btn btn-link ">{{name}}</button>
                                </li>
                            </ul>
                        </div>
                    {{/each}}
                </div>
            </li>
        </ul> 
    </div>
  </main>
</div>