<div>
  {{#with person}}
    <main>
      <section>
        {{> title big=true data='General information'}}
        <hr />

        <div>
            <b>Name:</b>
            {{name}}
            <br />

            <b>Age:</b>
            {{age}}
            <br />

            <b>Gender:</b>
            {{gender}}
            <br />
        </div>
      </section>

      <section>
        {{#with address}}
            <strong>Address</strong>
            <br />
            <br />

            <div>
                <b>Street:</b>
                {{street}}
                <br />

                <b>City:</b>
                {{city}}
                <br />
                

                <b>State:</b>
                {{state}}
                <br />

                <b>Zip:</b>
                {{zip}}
                <br />

                <b>Country:</b>
                {{country}}
                <br />
            </div>
        {{/with}}
      </section>

      <section>
        {{#each education}}

            <strong>Education</strong>
            <br />
            <br />

            <div>
                <b>Degree:</b>
                {{degree}}
                <br />

                <b>Major:</b>
                {{major}}
                <br />

                <b>University:</b>
                {{university}}
                <br />

                <b>Graduation year:</b>
                {{graduationYear}}
                <br />
            </div>

        {{/each}}
      </section>

      <section>
        {{#each workExperience }}
            {{> title big=false data='Work Expirience'}}
            <hr />

            <ul>
                <li>
                    <div>
                        <strong>{{company}}</strong>
                    </div>

                    <hr />

                    <div>
                        <b>Title:</b>
                        <i>{{title}}</i>
                    </div>
                    
                    <div>
                        <b>Start:</b>
                        <time>{{startDate}}</time>
                        <br>
                        <b>End:</b>
                        <time>{{endDate}}</time>
                    </div>

                    <div>
                        <b>Year Founded:</b>
                        {{year_founded}}
                    </div>

                    <div>
                        <b>Industry:</b>
                        {{industry}}
                    </div>

                    <div>
                        {{#each responsibilities}}
                            <p>
                                {{this}}
                            </p>
                        {{/each}}
                    </div>

                    <br />

                    <b>Employees:</b>
                    {{#each employees}}
                        <ul>
                            <li>
                                <div>
                                    <b>Name:</b>
                                    {{name}}
                                </div>
                                <div>
                                    <b>Position:</b>
                                    {{position}}
                                </div>
                                <div>
                                    <b>Department:</b>
                                    {{department}}
                                </div>

                                <br />
                                
                                <div>
                                    <b>Projects</b>
                                    {{#each projects}}
                                        <ul>
                                            <li>
                                                <div>{{name}}</div>
                                                <hr />
                                                <div>
                                                    <p>{{description}}</p>
                                                </div>
                                                <div>
                                                    <b>Status:</b>
                                                    {{status}}
                                                </div>

                                                <br />

                                                <div>
                                                    {{#each teams}}
                                                        <b>Teams</b>
                                                        <br />
                                                        <ul>
                                                            <li>
                                                                <div>{{team_name}}</div>
                                                                <hr />
                                                                <div>
                                                                    {{#with team_leader}}
                                                                        <b>{{title}}</b>
                                                                        <br />
                                                                        <b>Name:</b> {{name}}
                                                                        <br />
                                                                        <b>Email:</b> {{email}}
                                                                    {{/with}}
                                                                    <br>
                                                                </div>

                                                                <br />

                                                                <div>
                                                                    <b>Members</b>
                                                                    <br />
                                                                    {{#each team_members}}
                                                                        <b>Name:</b>
                                                                        {{name}}
                                                                        <br />
                                                                        <b>Title:</b>
                                                                        {{title}}
                                                                        <br />
                                                                        <b>Email:</b>
                                                                        {{email}}
                                                                        <br />
                                                                        <b>Skills</b>
                                                                        {{#each skills}}
                                                                            <ul>
                                                                                <li>
                                                                                    <div>{{this}}</div>
                                                                                </li>
                                                                            </ul>
                                                                        {{/each}}
                                                                        <br />
                                                                        <br />
                                                                        <div>  
                                                                            <b>Projects</b>
                                                                            <ul>
                                                                                <li>
                                                                                    <div>
                                                                                        {{#each projects}}
                                                                                            {{name}}
                                                                                            <br />
                                                                                            <p>{{description}}</p>
                                                                                            <br />
                                                                                            <b>Technologies</b>
                                                                                            {{#each technologies}}
                                                                                            <ul>
                                                                                                <li>
                                                                                                    <div>{{this}}</div>
                                                                                                </li>
                                                                                            </ul> 
                                                                                            {{/each}}
                                                                                            <br/>
                                                                                        {{/each}}
                                                                                    </div>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    {{/each}}
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    {{/each}}
                                                </div>
                                            </li>
                                        </ul>
                                    {{/each}}
                                </div>
                            </li>
                        </ul>
                    {{/each}}
                    
                </li>
            </ul>

            </div>
        {{/each}}
      </section>

    </main>
  {{/with}}
</div>