<main>
    {{> title big=true data='Person'}}

    <hr  class="my-4 mb-5"/>

    {{#with person}}
        <section class="mb-5">
            <div class="text-center mb-4">
                <h3>General information</h3>
            </div>
            <div class="card p-4">
                <div class="row">
                    <div class="col-4">
                        <div class="card p-3 h-100">
                            <h4>{{name}}</h4>
                            <div>
                                <span class="fw-bold text-capitalize">age:</span> {{age}}
                            </div>
                            <div>
                                <span class="fw-bold text-capitalize">gender:</span> {{gender}}
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-4">
                        <div class="card p-3">
                            {{#with address}}
                                <h4>Address</h4>
                                <div>
                                    <span class="fw-bold text-capitalize">street:</span> {{street}}
                                </div>
                                <div>
                                    <span class="fw-bold text-capitalize">city:</span> {{city}}
                                </div>
                                <div>
                                    <span class="fw-bold text-capitalize">state:</span> {{state}}
                                </div>
                                <div>
                                    <span class="fw-bold text-capitalize">zip:</span> {{zip}}
                                </div>
                                <div>
                                    <span class="fw-bold text-capitalize">country:</span> {{country}}
                                </div>
                            {{/with}}
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card p-3 h-100">
                            {{#each education}}
                                <h4>Education</h4>
                                <div>
                                    <span class="fw-bold text-capitalize">degree:</span> {{degree}}
                                </div>
                                <div>
                                    <span class="fw-bold text-capitalize">major:</span> {{major}}
                                </div>
                                <div>
                                    <span class="fw-bold text-capitalize">university:</span> {{university}}
                                </div>
                                <div>
                                    <span class="fw-bold text-capitalize">graduation year:</span> {{graduationYear}}
                                </div>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="text-center mb-4">
                <h3>Work Experience</h3>
            </div>
            {{#each workExperience}}
                <div class="card">
                    <div class="card-header">
                        <h4>{{company}}</h4>
                    </div>
                    <div class="card-title p-3 pb-0">
                        <h5>{{title}}</h5>
                        <p class="mb-0">{{startDate}}, {{endDate}}</p>
                    </div>
                    <div class="p-3">
                        <p>{{responsibilities}}, {{year_founded}}, {{industry}}</p>
                    </div>
                    <div class="p-3">
                        {{#each employees}}
                            <div class="card p-3">
                                <div class="card-title text-center">
                                    <h4>Employees</h4>
                                </div>
                                <div class="card p-3 h-100 pb-0">
                                    <h5>{{name}}</h5>
                                    <div>
                                        <span class="fw-bold text-capitalize">position:</span> {{position}}
                                    </div>
                                    <div>
                                        <span class="fw-bold text-capitalize">department:</span> {{department}}
                                    </div>
                                    <div class="p-3">
                                        {{#each projects}}
                                            <div class="card p-3 h-100">
                                                <div>
                                                    <h5>{{name}} <span class="badge bg-secondary">{{status}}</span></h5>
                                                </div>
                                                <div>
                                                    <p class="mb-0">{{description}}</p> 
                                                </div>
                                                <div class="p-3">
                                                    {{#each teams}}
                                                        <div class="card p-3 h-100">
                                                            <div class="text-center mb-3">
                                                                <h5>{{team_name}}</h5>
                                                            </div>
                                                            <div class="card mb-3">
                                                                {{#with team_leader}}
                                                                    <div class="p-3">
                                                                        <h5>{{name}}</h5>
                                                                        {{title}}
                                                                        <div>
                                                                            <a href="#">{{email}}</a>
                                                                        </div>
                                                                    </div>
                                                                {{/with}}
                                                            </div>
                                                            
                                                            <div class="card">
                                                                {{#each team_members}}
                                                                    <div class="p-3">
                                                                        <h5>{{name}}</h5>
                                                                        {{title}}
                                                                        <div class="mb-3">
                                                                            <a href="#">{{email}}</a>
                                                                        </div>
                                                                        <div class="col-2 text-center">
                                                                            <ul class="list-group">
                                                                                <li class="list-group-item active" aria-current="true">Skills</li>
                                                                                {{#each skills}}
                                                                                    <li class="list-group-item">{{this}}</li>
                                                                                {{/each}}
                                                                            </ul>
                                                                        </div>
                                                                        <div class="p-3">
                                                                            {{#each projects}}
                                                                                <div class="card p-3 h-100">
                                                                                    <div>
                                                                                        <h5>{{name}}</h5>
                                                                                    </div>
                                                                                    <div class="mb-3">
                                                                                        <p class="mb-0">{{description}}</p> 
                                                                                    </div>
                                                                                    <div class="col-2 text-center mb-3">
                                                                                        <ul class="list-group">
                                                                                            <li class="list-group-item active" aria-current="true">Technologies</li>
                                                                                            {{#each technologies}}
                                                                                                <li class="list-group-item">{{this}}</li>
                                                                                            {{/each}}
                                                                                        </ul>
                                                                                    </div>
                                                                                    <div class="card p-3">
                                                                                        <div class="text-center mb-3">
                                                                                            <h5>Members</h5>
                                                                                        </div>
                                                                                        {{#each team_members}}
                                                                                            <div class="card p-3 mb-3">
                                                                                                <h5>{{name}}</h5>
                                                                                                {{title}}
                                                                                            </div>
                                                                                        {{/each}}
                                                                                    </div>
                                                                                </div>
                                                                            {{/each}}
                                                                        </div>
                                                                    </div>
                                                                {{/each}}
                                                            </div>
                                                        </div>
                                                    {{/each}}
                                                </div>
                                            </div>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                    
                </div>
            {{/each}}
        </section>
    {{/with}}
</main>