<main>
    {{> menu}}

    {{#with newsBlock}}
        <section>
            <div class='text-center'>
                <h1 class="mb-3">{{title}}</h1>
            </div>
            <div class='row'>
                {{#each cards}}
                    <div class='col-3 mb-4'>
                        <div class='card bg-dark text-white'>
                            <div class='card-header'>
                                {{title}}

                                {{#if isNew}}
                                    <span class='badge text-bg-success'>New</span>
                                {{/if}}

                                {{#if isTop}}
                                    <span class='badge text-bg-danger'>Top</span>
                                {{/if}}
                            </div>
                            <div class='card-body'>
                                {{description}}
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </section>   
    {{/with}}

    <hr class='my-5' />

    {{#with goodsBlock}}
        <section>
            <div class='row'>
                <div class="mb-4">
                    <div class='nav nav-tabs text-center'>
                        {{#each tabs}}
                            <div class='nav-item col-2'>
                                    <a href='#' class='nav-link
                                    {{#if isActive}}active{{/if}}
                                    {{#if isDisabled}}disabled{{/if}}'>
                                        {{text}}
                                    </a>
                            </div>
                        {{/each}}
                    </div>
                </div>
                {{> cardsBlock}}
            </div>
        </section>
    {{/with}}

    <hr class='my-5' />

    {{> subscribeBlock}}

    <hr class='my-5' />

    {{#with service}}
        <section>
            <div class="card p-2 bg-success text-center text-white">
                <div class="card-title">
                    <h2>{{title}}</h2>
                </div>
                <div>
                    <p class="mb-2">{{description}}</p>
                    {{#each buttons}}
                        <div class="mb-2">
                            <a href="{{link}}" class="btn btn-primary">{{text}}</a>
                        </div>
                    {{/each}}
                </div>
            </div>
        </section>
    {{/with}}

    <hr class='mt-5 mb-3' />

    {{> footershop}}
</main>