<div class='accordion' id='Groups'>
    <div class='accordion-item'>
        <h2 class='accordion-header'>
            <button
                class='accordion-button collapsed'
                type='button'
                data-bs-toggle='collapse'
                data-bs-target='#Two'
                aria-expanded='false'
                aria-controls='Two'
            >
                Groups
            </button>
        </h2>
        <div id='Two' class='accordion-collapse collapse ' data-bs-parent='#Groups'>
            <div id={{id}} class='accordion-body'>
                {{#if groups}}
                    {{#each groups}}
                        <div class='card mb-3'>
                            <div class='card-body'>
                                <div class="mb-4">
                                    <span class='card-title fs-5'>{{name}}</span>
                                    <p class='card-text'>
                                        {{description}}
                                        <br />
                                    </p>
                                </div>
                                <div class="mb-4">
                                    <a href='#' class='btn btn-primary'>Join Group</a>
                                </div>
                                <div class='accordion' id='Membres'>
                                    <div class='accordion-item'>
                                        <h2 class='accordion-header'>
                                            <button
                                                class='accordion-button collapsed'
                                                type='button'
                                                data-bs-toggle='collapse'
                                                data-bs-target='#Six'
                                                aria-expanded='false'
                                                aria-controls='Six'
                                            >
                                                Members
                                            </button>
                                        </h2>
                                        <div id='Six' class='accordion-collapse collapse' data-bs-parent='#Members'>
                                            <div id={{id}} class='accordion-body'>
                                            {{#each members}}
                                                {{> people div=false}}
                                                <br />
                                            {{/each}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                {{else}}
                    <div class="m-3">
                        <span class='badge bg-primary'>There are
                            no Groups</span>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>