{{#if div}}
    <div id={{id}} class='row'>
        <div class='col-sm-12 mb-3 mb-sm-0'>
            <div class='card'>
                <div class='card-body'>
                    <div class="mb-4">
                        <h5 class='card-title'>
                        {{name}}
                        </h5>
                        <p class='card-text'>
                            {{gender}}
                            <br />

                            <b>Age:</b>
                            {{age}}
                            <br />
                        </p>
                    </div>
                    <div class="mb-4">
                         <a
                            href='#'
                            class='btn btn-primary'
                        >Add Friend
                        </a>
                    </div>
{{else}}
    <div id={{id}} class='row'>
        <div class='col-sm-12 mb-3 mb-sm-0'>
            <div class='card'>
                <div class='card-body'>
                    <div class="mb-4">
                        <h5 class='card-title'>
                        {{name}}
                        </h5>
                        <p class='card-text'>
                            {{gender}}
                            <br />

                            <b>Age:</b>
                            {{age}}
                            <br />
                        </p>
                    </div>
                    <div class="mb-4">
                         <a
                            href='#'
                            class='btn btn-primary'
                        >Add Friend
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/if}}
           