{{#if div}}
    <div id={{id}} class='row'>
        <div class='col-sm-12 mb-3 mb-sm-0'>
            <div class='card'>
                <div class='card-body'>
                    <h5 class='card-title'>
                        {{name}}
                    </h5>
                    <p class='card-text'>
                        {{gender}}
                        <br />

                        <b>Age:</b>
                        {{age}}
                        <br />
                    </p>
                    <a
                        href='#'
                        class='btn btn-primary'
                    >Add Friend
                    </a>
                    <br />
                    <br />
{{else}}
    <div id={{id}} class='row'>
        <div class='col-sm-12 mb-3 mb-sm-0'>
            <div class='card'>
                <div class='card-body'>
                    <h5 class='card-title'>
                        {{name}}
                    </h5>
                    <p class='card-text'>
                        {{gender}}
                        <br />

                        <b>Age:</b>
                        {{age}}
                        <br />
                    </p>
                    <a
                        href='#'
                        class='btn btn-primary'
                    >Add Friend
                    </a>
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>
{{/if}}
           