<table class='table table-secondary'>
    <caption>

        {{description}}
    </caption>

    <br />

    <thead>
        <tr>
            <th scope='col'>Element
                {{#if bracket}}
                    &lt;{{name}}&gt;
                {{else}}
                    {{name}}
                {{/if}}
            </th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
            <tr>
                <th rowspan='2'>
                    {{value}}
                    {{#if type}}
                        ({{type}})
                    {{/if}}
                </th>
            </tr>
            <tr>
                <td colspan='2'>{{description}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>