<table border='1'>
  <caption>
    Element
    {{#if bracket}}
      &lt;{{name}}&gt;
    {{else}}
      {{name}}
    {{/if}}
  </caption>

  <br />

  <thead>
    <tr>
      <th colspan='2'>{{description}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
      <tr>
        <td rowspan='2'>{{value}}</td>
      </tr>
      <tr>
        <td colspan='2'>{{description}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>